<h1><%= @product.name %> is imported from <%= @product.country_of_origin %></h1>
<h3>The price for this product is $<%= @product.cost %> USD</h3>
<% if current_user && current_user.admin %>
  <%= link_to "Edit product", edit_product_path(@product) %>
  <br>
  <%= link_to "Delete product", product_path(@product),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %>
  <% end %>

<% if @product.reviews.any? %>
  <h4>Here are some reviews for this product:</h4>
  <% @product.reviews.each do |review| %>
    <ul class="product">
      <li>
        <%= link_to review.author, product_review_path(@product, review) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>There are no reviews for this product yet. Be the first to review it!</p>
<% end %>
<%= link_to "Add a review", new_product_review_path(@product) %>
<br>
<p><%= link_to "Return product list", products_path %></p>



