<h1>Review of: <%= @product.name %></h1>
<h3><%= @review.content_body %></h3>
<h3><%= @review.rating %></h3>

<p><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
<p><%= link_to "Delete review", product_review_path(@product, @review),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to list of products", products_path(@product) %></p>