<h1>Add a new review</h1>
<h3><%= @product.name %></h3>


<%= form_for [@product, @review] do |f| %>
<%= f.label :author, "Please enter your name" %>
<%= f.text_field :author  %>
<br>
<br>
<%= f.label :rating, "Give this star rating between 1-5 " %>
<br>
<%= f.label :rating, "5" %>
<%= f.radio_button(:rating, "5")%>
<%= f.label :rating, "4" %>
<%= f.radio_button(:rating, "4") %>
<%= f.label :rating, "3" %>
<%= f.radio_button(:rating, "3") %>
<%= f.label :rating, "2" %>
<%= f.radio_button(:rating, "2") %>
<%= f.label :rating, "1" %>
<%= f.radio_button(:rating, "1") %>
<br>
<br>
<%= f.label :content_body, "Type your review here"%>
<br>
<%= f.text_area :content_body, :rows => "10" %>
<%= f.submit %>
<%end%>


<button type="button" class="btn btn-info"><%= link_to "Return to current product", product_path(@product) %></button>
<button type="button" class="btn btn-info"><%= link_to "Return to full product list", products_path %></button>
